.navbar {
    display : flex;
    justify-content : space-between;
    align-items : center;
    background-color: rgb(229, 148, 42);
    
 
}
.navbar li{
    list-style:none;
}
.navbar li a{
    text-decoration: none;
  color:rgb(19, 19, 19)
}
.navbar li a:hover{
    color: brown;
}